<!DOCTYPE html>
<html lang="en">
<head>
	<title>HUST IS student fbyter's graduation project · BlockChain-Wallet</title>
	<link href="/stylesheets/sign_up.css" rel="stylesheet" type="text/css"/> <!--- head中写入css链接 只有 rel 属性的 "stylesheet" 值得到了所有浏览器的支持。其他值只得到了部分地支持。--->
	<link href="/images/bitcoin.jpeg" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div id="div_topMenu">
	<div id="div_top">
		<img src="/images/bitcoin.jpeg" id="img_icon"></img>
		<ul id="ul_top">
			<li class="li_top">Features</li>
			<li class="li_top">Business</li>
			<li class="li_top">Explore</li>
			<li class="li_top">Marketplace</li>
			<li class="li_top">Pricing</li>
		</ul>
		<input id="input_search" type="text" placeholder="Search"></input>
		<img id="img_search" src="/images/GoogleWebSearch32.png"></img>
		<a href='<%= url %>/signin' class="span_white">Sign in</a>
	</div>
	</div>
	<div id="div_mainContainer">
	<div id="div_main">
		<h1>BlockChain Wallet <br>Built by hyperledger</h1>
		<p id="p_main">GitHub is a development platform inspired by the way you work. From<a class="a_white"> open source </a>to <a class="a_white">business</a>, you can host and review code, manage projects, and build software alongside 28 million developers.</p>
		<div id="div_sign">
			<p class="p_sign">Username</p>
			<input class="input_sign" placeholder="Pick a username" type="text"></input>
			<p class="p_sign">Password</p>
			<input class="input_sign" placeholder="Create a password"></input>
			<p class="p_sign">Email</p>
			<input class="input_sign" placeholder="you@example.com"></input>
			<p id="p_little">Make sure your pasword has 6-12 characters, including a number, a letter, and a punctuation.</p>
			<input type="submit" id="input_ok" value="Sign up for BlockChain-Wallet"></input>
			<p id="p_sign_last">By clicking “Sign up for BlockChain-Wallet”, you agree to our <a class="a_sign">terms of service</a> and <a class="a_sign">privacy statement.</a> We’ll occasionally send you account related emails.</p>
			</div>
	</div>
	</div>
	<div id="div_bottomContainer">
	<div id="div_bottom">
		<p id="p_bottom">Hyperledger Fabric is a blockchain framework implementation.</p>
		<span id="span_bottom">Learn more→</span>
	</div>
	</div>

	<script type="text/javascript" src="/javascripts/sign_up.js"></script>
</body>
</html>