<!DOCTYPE html>
<head lang="en">
<meta http-equiv="Content-Type"content="text/html";charset="utf-8"/>
<title>Sign in to BlockChain-Wallet</title>
<link href="/stylesheets/sign_in.css" rel="stylesheet" type="text/css"/>
<link href="/images/bitcoin.jpeg" rel="Shortcut Icon"  type="image/x-icon" />
</head>

<body style="background-color: #F9F9F9;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";line-height: 1.5;
color: #24292e;">
<div class="div_container_top">
	<div class="div_container_top_center">
		<div class="div_logo">
			<img id="img_icon" src="/images/bitcoin.jpeg">
		</div>
		<div class="div_word">Sign in to BlockChain-Wallet</div>
	</div>
</div>
<div class="div_container_main">
	<div class="div_container_main_center">
		<div class="div_main_first">
			<div class="div_first_word">Username</div>
		</div>
		<div class="div_main_second">
			<div class="search"style="float:left;">
				<input class="input_sign" placeholder="your name" type="text" value="<%= name %>">
			</div>
		</div>
		<div class="div_main_third">
			<div class="div_chat_top_word1">Password</div>
			<div class="div_chat_top_word2">Forgot password?</div>
		</div>
		<div class="div_main_fourth">
			<div class="search"style="float:left;">
				<input class="input_sign" placeholder="your password" type="text" value="<%= password %>">
			</div>
		</div>
		<div class="div_main_fifth">
			<div class="div_fifth_button">
				<a class="div_chat_button"style="color:white;text-decoration: none;">Sign in</a>
			</div>
		</div>
	</div>

</div>
<div class="div_foot">
	<div class="div_foot_main">
		<div class="div_sixth">
			<div class="div_sixth_word1">
				New to BC-Wallet?
			</div>
			<div class="div_sixth_word2">
				Create an account.
			</div>

		</div>
		<div class="div_foot_tail">
			<div class="div_foot_word">
				Terms
			</div>
			<div class="div_foot_word">
				Privacy
			</div>
			<div class="div_foot_word">
				Security
			</div>
			<div class="div_foot_word2">
				Contact GitHub
			</div>

		</div>

	</div>
</div>
<script type="text/javascript" src="/javascripts/sign_in.js"></script>
</head>
</html>